* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.error {
  font-size: 0.8rem;
  color: #f21818;
  margin-bottom: 3px;
}

body {
  background-color: #171717;
}

.main {
  width: 100%;
  min-height: 100vh;
  color: #ffffff;

  display: flex;
  align-items: center;
  justify-content: center;
}

.main .registration {
  border: solid 2px #e2570c;
  border-radius: 10px;
  width: 350px;
  padding: 10px 20px;
  margin: 30px 0;
}

.main .registration .form-title {
  color: #e2570c;
  text-transform: uppercase;
  text-align: center;
  font-size: 0.8rem;
  margin-top: 10px;
  margin-bottom: 20px;
}

.main .registration .registrationForm > div {
  margin: 10px;
  display: grid;
}

.main .registration .registrationForm div label {
  font-size: 0.7rem;
  text-transform: uppercase;
  margin-bottom: 3px;
  cursor: pointer;
}

.main .registration .registrationForm div input[type="text"],
.main .registration .registrationForm div input[type="password"],
.main .registration .registrationForm div select {
  width: 100%;
  padding: 5px 5px;
}

.main .registration .registrationForm div select {
  cursor: pointer;
}

.main .registration .registrationForm div input[type="radio"],
.main .registration .registrationForm div input[type="radio"] {
  cursor: pointer;
}

.main .registration .registrationForm div textarea {
  resize: vertical;
  max-height: 130px;
  min-height: 80px;
}

.main .registration .registrationForm .register-btn-container #register-button {
  width: 100%;
  margin-top: 10px;
  padding: 7px 3px;
  text-transform: uppercase;
  font-size: 0.7rem;
  cursor: pointer;
  color: #171717;
  background-color: #e2570c;
  border: none;
}
