* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.error {
  font-size: 0.8rem;
  margin: 5px 0 5px 0;
  color: #f21818;
}

body {
  background-color: #171717;
}

.main {
  width: 100%;
  height: 100vh;
  color: #ffffff;

  display: flex;
  align-items: center;
  justify-content: center;
}

.main .registration {
  border: solid 2px #e2570c;
  border-radius: 10px;
  width: 350px;
  padding: 20px;
}

.main .registration .form-title {
  color: #e2570c;
  text-transform: uppercase;
  text-align: center;
  font-size: 0.8rem;
  margin-top: 10px;
  margin-bottom: 20px;
}
